.comingsoon .MuiPaper-root {
	border-radius: 5px;
	padding: 40px 40px;
	background-color: white;
	position: relative;
	width: 50%;
	min-width: 300px;
	max-width: 1000px;
	color: black;
}
.comingsoon .MuiPaper-root .bg{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	height: 200px;
}
.comingsoon .title{
	color: black;
	font-weight: bold;
	font-size: 2.5rem;
	line-height: 2.5rem;
	margin: 0 0 2rem 0;
	width: 80%;
	z-index: 1;
}
.comingsoon .link{
	color: var(--red);
	font-weight: 500;
	z-index: 1;
}
.comingsoon .link:hover{
	color: var(--red);
	z-index: 1;
}
.comingsoon .link{

}
@media only screen and (max-width: 480px),
	only screen and (max-device-width: 480px){
		.comingsoon .MuiPaper-root{
			width: 100%;
			min-width: 300px;
			padding: 25px 10px;
		}
	}